PORT=3000
NODE_ENV=development
ETHEREUM_RPC_URL=
SEPOLIA_RPC_URL=
BITCOIN_RPC_URL=
BITCOIN_RPC_USERNAME=
BITCOIN_RPC_PASSWORD=
BITCOIN_INDEXER_BASE_URL=https://mempool.space/api
COINGECKO_API_KEY=
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3
